# folders
.directory
.vscode/
.idea/
pydmc/__pycache__*
pydmc.egg-info

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# sphinx documentation
docs/_build/
